
textarea:focus, 
input:focus, 
input[type]:focus {
    outline: 0 none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

/** Imagen de Perfil **/

form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar{    
    margin-left: 20px;
}

.navbar .container-avatar img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

/** Publicación **/

.pub-image{
    margin-bottom: 70px;
}

.pub-image .container-avatar img{
    width: 35px;
    height: 35px;
    object-fit: cover;
}

.pub-image .container-avatar{
    float: left;
    margin-right: 15px;
}

.title{
    color: black;
    font-size: 24px;
    font-weight: 900;
}

.pub-image .data-user{
    font-weight: bold;
    line-height: 35px;
}

.pub-image .nickname{
    color: black;
    font-weight: 600;
}

.image-container{
    width: 100%;
    max-height: auto;
    overflow: hidden;
}

.image-container img{
    width: 100%;
}

.form{
    padding-top: 20px;
}
.pub-image .card-body{
    padding: 0px;
}

.pub-image .description{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    padding: 10px;
}

.grid-item {
    font-size: 30px;
    text-align: center;
}

.btn-comments{
    color: grey;
}

.icons-like > .dislike{
    color: grey;
}

.icons-like > .fas{
    color: red;
}

.fa-trash-alt{
    color: gray;
}

.fa-edit{
    color: gray;
}


.fa-trash-alt:hover{
    color: gray;
}

.fa-edit:hover{
    color: gray;
}

.fa-comment:hover{
    color: gray;
}

.pub-image .count-likes a{
    color: black;
    padding-left: 20px;
    font-weight: 600;
}

.pub-image .count-comments a{
    padding-left: 20px;
    color: grey;
}

.post-data{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    color: gray;
}

.post-date{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.post-date a{
    color: gray;
}

/** Comentarios **/

.pub-image .comments{
    padding: 10px;
}

.comments button{
    background-color: white;
    color: rgb(57, 136, 214);
    font-weight: 600;
    font-size: 18px;
}

.comments textarea{
    resize: none;
}

.user-profile .container-avatar{
    float: left;
}

.user-profile .container-avatar img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.user-profile{
    height: 150px;
    padding-left: 80px;
    margin-bottom: 40px;
}

.user-profile .user-info{
    float: left;
    padding-left: 100px;
    padding-bottom: 30px;
}

.user-profile .user-info .nickname{
    font-size: 28px;
    font-weight: 300;
}
.user-profile .user-info .user-name{
    font-size: 16px;
    font-weight: 900;
}

.user-profile .user-info .user-date{
    color: gray;
}

.post-count, .following-count, .followers-count{
    font-weight: 900;
}

.unfollow{    
    color: grey;
}

.follow{    
    color: red;
}

/** Buscador **/

