
textarea:focus, 
input:focus, 
input[type]:focus {
    outline: 0 none;
}

/** Imagen de Perfil **/

form .avatar{
    width: 55px;
    margin-bottom: 15px;
}

.navbar .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.navbar .container-avatar img{
    height: 100%;
}

/** Publicación **/

.pub-image{
    margin-bottom: 70px;
}

.pub-image .container-avatar{
    width: 35px;
    height: 35px;
    border-radius: 900px;
    overflow: hidden;
}

.pub-image .container-avatar img{
    height: 100%;
}

.pub-image .container-avatar{
    float: left;
    margin-right: 15px;
}

.pub-image .data-user{
    font-weight: bold;
    line-height: 35px;
}
.pub-image a{
    text-decoration: none;
}

.pub-image .nickname{
    color: black;
    font-weight: 600;
}

.image-container{
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}

.image-container img{
    width: 100%;
}

.pub-image .card-body{
    padding: 0px;
}

.pub-image .description{
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: 50px 50px;
    padding: 10px;
}

.grid-item {
    font-size: 30px;
    text-align: center;
  }

.btn-comments{
    color: rgba(0,0,0,.5);
}

.btn-likes{
    color: rgba(0,0,0,.5);
}

.pub-image .count-comments a{
    padding-left: 20px;
    color: grey;
}

.post-date{
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 0px;
}

.post-date a{
    color: gray;
}

/** Comentarios **/

.pub-image .comments{
    padding: 10px;
}

.comments button{
    background-color: white;
    color: rgb(57, 136, 214);
    font-weight: 600;
    font-size: 18px;
}

.comments textarea{
    resize: none;
}

.fa-trash-alt{
    color: gray;
}





